# ===============================
# Database Connectors
# ===============================
sqlalchemy
psycopg2-binary
pymysql
mysqlclient
pyodbc

# ===============================
# Object Storage
# ===============================
minio
